.gradle/8.9/executionHistory/executionHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/kotlin/sessions/kotlin-compiler-4074809498073579009.salive
